 <div class="card shadow px-4 py-4">
    <div class="card-body">
            
        <h3 class="text-monospace mt-3">
            {{posts.body}}
        </h3>

        <p class="mt-4">
            {{ posts.postId }}
                    </p>

        <img src="https://images.beinsports.com/JW4SuUeSlPl7trDIyzeduis2Vqw=/670x424/smart/3182976-Dybala.JPG" class="my-4" style="width: 100%;" alt="">

        <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores, ut repellat recusandae nobis itaque alias doloribus assumenda illum sunt laboriosam nesciunt sapiente maiores vero optio asperiores,
                        quam tempora ipsam. Accusamus quibusdam, velit nisi quas modi laboriosam eos voluptatem excepturi odio, nulla, sint dignissimos! Tenetur ea non libero soluta veritatis adipisci?
        </p>
              
    </div>
</div>
